<footer class="footer">
	<div class="container">
		<div class="copyrights">
			© Copyright 2017 Portable Franchise |  Made with
			<span class="fa fa-heart heart">  &#32;&#32;in Gujrat, Pk </span>
		</div>
		<div class="text-right">
			<a href="https://www.facebook.com/Sh.Hussnain125" target="_blank">
				<i class="fa fa-facebook" id="social-fb"></i>
			</a>
			<a href="https://twitter.com/Hussnain125" target="_blank">
				<i class="fa fa-twitter" id="social-tw"></i>
			</a>
			<a href="https://plus.google.com/u/0/+Hussnainsheikh" target="_blank">
				<i class="fa fa-google-plus" id="social-gp"></i>
			</a>
			<a href="https://github.com/hussnainsheikh" target="_blank">
				<i class="fa fa-github" id="social-sk"></i>
			</a>
		</div>
	</div>
</footer>