<div class="jumbotron">
  <div class="row">
    <div class="span3">
      <img alt="Logo" class="logo" src="/images/rims-icon.png">
    </div>

    <div class="span7">
      <h2>Portable Franchise</h2>

      <p>Portable Franchise is a online Franchise System designed primarily to keep track of all record of a franchise. It will allow you to keep track of your available resources.</p>

      <h2>Project Status</h2>
      <p>This project is currently in an early alpha stage. Code quality is improving constantly. However, this project is not ready for production yet.</p>
    
    </div>
  </div>
</div>
